#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-masthead.jpg");
    /* height: 800px; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 200px 0px 200px 0px;
}


/* 
    Header
*/

#mainNav {
    background-color: black;
}

.header-heading h1 {
    font-size: 110px;
    letter-spacing: 23px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.4));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header-heading p {
    color: white;
    font-size: 20px;
}

@media (max-width: 992px) {
    .header-heading h1 {
        font-size: 80px;
    }
    .header-heading p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .header-heading h1 {
        font-size: 48px;
    }
}


/* 
    About
*/

#about {
    padding-top: 100px;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.black {
    background-color: whitesmoke;
    height: 80px;
}

.about-title h2 {
    color: white;
}

.about-title p {
    color: white;
}


/* 
    Projects
*/

#projects {
    padding: 50px;
}

.align-items-center {
    align-items: center!important;
}

.projects-bg {
    background-color: black;
}

.project-detail h3 {
    color: white;
    font-weight: 400;
}

.project-detail p {
    color: whitesmoke;
    font-weight: 400;
}


/* 
    Contact
*/

#contact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../img/bg-signup.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 50px 0px;
}

.contact-details {
    color: white;
    text-align: center;
}

.contact-btn button {
    font-size: 17px;
    padding: 12px 22px;
}

.form-control {
    height: calc(2.4em + .75rem + 2px);
}

.contact-card-bg {
    background-color: black;
    padding: 80px 0px;
}

.contact-card {
    background-color: white;
    padding: 30px 65px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-bottom: 4px solid darkcyan;
}

.contact-card h6 {
    border-bottom: 1px solid black;
}

.social-icons i {
    color: white;
    background-color: gray;
    height: 42px;
    width: 42px;
    margin: 8px;
    padding-top: 13px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


/* 
    Footer
*/

.footer {
    color: white;
}